<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>FAQ</h1>
    <form action="/request" method="POST">
      <label>Вопрос:</label>
      <input name="input-request" type="text" />
      <button type="submit">Отправить</button>
    </form>
    {% for i in memory %}
    <p>{{i.text}}</p>
    {% endfor %}
    <p>{{ai_answer}}</p>
  </body>
</html>
