<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="chat">
      {% for message in memory %} {% if message.role != 'system' %}
      <div class="chat-{{message.role}}">
        <p>{{ message.text }}</p>
      </div>
      {% endif %} {% endfor %}

      <form class="chat-input-box" action="/request" method="POST">
        <input
          class="chat-input"
          name="input-request"
          type="text"
          placeholder="Ваш вопрос здесь"
        />
        <button type="submit">Отправить</button>
      </form>
    </div>
  </body>
</html>
